.element {
  background-color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  width: 80px;
  height: 80px;
  border: 3px solid #fff;
  margin: 2px;
}

.element-number {
  font-size: 10px;
  font-weight: 500;
  align-self: flex-start;
}

.element-symbol {
  font-size: 22px;
  font-weight: 500;
}

.element-name {
  font-size: 10px;
}

.alkali {
  /* Merry Cranesbill */
  border-color: #ff4533;
}

.earth {
  border-color: #ff9d40;
}

.transition {
  /* Light Heat Blue */
  border-color: #ffeb5d;
}

.post-transition {
  /* Bewitched Tree*/
  border-color: rgba(69, 230, 80, 0.6);
}

.metalloid {
  border-color: #53c9f0;
}

.nonmetal {
  /* Magic Powder */
  border-color: #368fcd;
}

.diatomic {
  border-color: rgba(115, 64, 160, 0.6);
}

.noble-gas {
  border-color: rgba(61, 51, 101, 0.5);
}

.lanthanide {
  border-color: #fd80bd;
}

.actinide {
  border-color: #d244a3;
}
