.table-container {
  display: flex;
  justify-content: center;
}

#grid {
  display: grid;
  grid-template-columns: repeat(17, auto) 1fr;
}

.element {
  border: 1px solid black;
  padding: 5px;
  margin: 1px;
  min-width: 64px;
  min-height: 64px;
}

.element-number {
  font-size: 1.2vh;
}

.element-symbol {
  text-align: center;
  font-size: 2vh;
  font-weight: 500;
}

.element-name {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  text-align: center;
  font-size: 1.2vh;
}

.element-phase {
  text-align: center;
  font-size: 1.2vh;
}
