.table-container {
  display: flex;
  justify-content: center;
}

#grid {
  display: grid;
  grid-template-columns: repeat(17, auto) 1fr;
}

.element {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid black;
  padding: 8px;
  margin: 1px;
  max-width: 78px;
}

.element-number {
  font-size: 1.1vh;
}

.element-symbol {
  font-size: 2.4vh;
  font-weight: 500;
}

.element-name {
  font-size: 1.1vh;
}

.element-phase {
  font-size: 1.1vh;
}
